html, body, .container {
    height: 100%;
    width: 100%;
    display: flex;
}
body {
    margin: 0;
}

.container {
    justify-content: center;
    flex-flow: column;
    /*flex-wrap: nowrap;*/
    align-items: stretch;
}

.header {
    background-color: black;
    width: 100%;
    color: white;
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0.5em;
    min-height: 1em;
    text-transform: uppercase;
}

.footer {
    background-color: black;
    width: 100%;
    color: white;
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5em;
    min-height: 1em;
}

.content {
    flex: 1;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

.album {
    width: 100%;
    background-color: white;
    background-image: linear-gradient(rgb(245, 245, 245) 0px, rgb(232, 232, 232) 100%);
    margin: 4px;
    padding: 4px;
    border: 1px solid gray;
}

