* {
    box-sizing: border-box;
}
html, body, .container {
    height: 100%;
    width: 100%;
    display: flex;
    
}
body {
    margin: 0;
}

.container {
    justify-content: center;
    flex-flow: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

.header {
    background-color: black;
    color: white;
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0.5em;
    min-height: 1em;
    text-transform: uppercase;
}

.content {
    flex: 1;
    overflow-y: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

.footer {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    min-height: 1em;
    font-size: 1.75em;
}


.album-row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.album {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    width: inherit;
    background-color: white;
    background-image: linear-gradient(rgb(245, 245, 245) 0px, rgb(232, 232, 232) 100%);
    margin: 4px;
    padding: 4px;
    border: 1px solid gray;
}

img.thumbnail {
    flex-grow: 0;
    margin: 4px;
    height: 150px;
    width: 150px;
    border: 1px solid gray;
}

.album-title {
    flex-grow: 1;
    margin: 4px 2px 4px 8px;
}

.album-photos {
    padding: 4px;
}

.photo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 18px;
    border: 1px solid gray;
}

.photo-title {
    padding: 4px;
}

.photo-title > span {
    font-weight: bolder;
    margin-right: 1em;
}

.big-photo-container {
    display: block;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    background-color: white;
    top: 2em;
    bottom: 2em;
    left: 1em;
    right: 1em;
    border: 2px solid gray;
}

.photo-header {
    background-color: black;
    padding: 1em;
    font-size: 1.5em;
    color: white;
    text-transform: uppercase;
}

.big-photo-title {
    margin: 16px 8px 16px 8px;
    font-size: 1.5em;
}

.big-image-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.big-image-container > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

@media screen and (min-device-width: 640px) {
    .header {
        font-size: 2em;
    }

    .footer {
        padding: 0.25em;
        font-size: 1em;
    }

    .photo-header {
        padding: 0.25em;
        font-size: 1em;
    }

    .big-photo-title {
        margin: 8px 4px 8px 4px;
        font-size: 0.75em;
    }

    .big-image-container {
        overflow: auto;
    }
}





@media screen and (max-height: 320px) {
    .big-image-container > img {
        max-height: 100px;
    }
}

@media screen and (min-height: 321px) and (max-height: 640px) {
    .big-image-container {
        margin-top: 0.5em;
    }

    
    .big-photo-container {
        top: 0.5em;
        bottom: 0.5em;
        left: 1em;
        right: 1em;
    }

    .big-image-container > img {
        max-height: 400px;
    }
}


@media screen and (min-height: 641px) and (max-height: 900px) {
    .big-image-container > img {
        max-height: 480px;
    }
}

@media screen and (orientation: landscape) and (max-height: 480px) {
    .big-image-container > img {
        max-height: 260px;
    }
}


