<!doctype html>
<html>
    <head>
        <script src="node_modules/lodash/lodash.min.js"></script>
        <script src="node_modules/angular/angular.js"></script>
        <link rel="stylesheet" type="text/css" href="app.css">
    </head>
    <body ng-app="angular-exercises">
        
        <div class="container" ng-controller="MainPageController as ctrl">
            <div class="header">
                {{ ctrl.title }}
            </div>
            <div class="content">
                <div ng-repeat="album in ctrl.albums" class="album" ng-click="ctrl.albumClick(album.albumId)">
                    <img ng-src="{{album.albumThumbnailUrl}}"
                    <span>{{album.albumTitle}}</span>
                </div>
            </div>
            <div class="footer">
            </div>
        </div>

        <script src="app/app.js"></script>
        <script src="app/photos.service.js"></script>
        <script src="app/main-page.controller.js"></script>
    </body>
</html>