<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="node_modules/lodash/lodash.min.js"></script>
        <script src="node_modules/angular/angular.js"></script>
        <link rel="stylesheet" type="text/css" href="app.css">
    </head>
    <body ng-app="angular-exercises">
        
        <div class="container" ng-controller="MainPageController as ctrl">
            <div class="header">
                {{ ctrl.title }}
            </div>

            <div class="content">
                <div ng-repeat="album in ctrl.albums" class="album-row" >
                    <div class="album" ng-click="ctrl.albumClick(album.albumId)">
                        <img class="thumbnail" ng-src="{{album.albumThumbnailUrl}}" />
                        <div class="album-title">
                            {{album.albumTitle}}
                        </div>
                    </div>
                    <div ng-if="ctrl.selectedAlbum === album.albumId"  class="album-photos">
                        <div class="photo" ng-repeat="photo in ctrl.photos">
                            <display-photo photo="photo"></display-photo>
                            <div class="photo-title">
                                <span>Title:</span>{{photo.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer">
                <span>Autor: Radosław Marek</span>
            </div>
        </div>

        <script src="app/app.js"></script>
        <script src="app/photo.directive.js"></script>
        <script src="app/photos.service.js"></script>
        <script src="app/main-page.controller.js"></script>
    </body>
</html>